*{
	margin:0px;
	padding: 0px;
}


/*.form{
	width: 400px;
	margin-left:33%;
	margin-top: 5%;
}*/

.container{
	margin-top: 20px;
	margin-bottom: 50px;
}

.form button{
	margin-left:10px;
	margin-top: 50px;
}

a,a:hover{
	color: white;
}

.select {
	height: 50px;
	width: 100px;
	flex:1;
}

.select-group{
	display: flex;
}



.error {
	color: red;
}

.success {
	color: green;
}