header{
	align-items: center;
	margin: auto;
	height:100px;
	color: white;
}

.collapse ul li{
	padding-left: 90px;

}

/*.logout{
	flex:1;
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}

.img img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid black;
}

.logout a{
	margin-left: 10px;
	height: 20px;
	width: 20px;
	text-decoration: none;
	font-size: 18px;
	padding-top: 5px;
}*/
