*{
	margin:0px;
	padding: 0px;
}

.header{
	margin-top: 100px;
	text-align: center;
	margin-left: 200px;
}

.header button{
	position: absolute;
	left:300px;
}

.main{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 180px;
}

button a{
	text-decoration: none;
	color: white;
}

button a:hover{
	color: white;
	text-decoration: none;
}

.table{
	margin-top: 10px;
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}

.table .btn{
	height: 30px;
	width: 70px;
	padding: 2px 2px 2px 2px;
}

.table th{
	text-align: center;
}

.cell-breakWord {
   word-wrap: break-word;
   max-width: 60px;
}

.float-right{
	margin-right:15px;
}

.table .btn{
	width: 30px;
	font-size: 16px;
}
