.training{
	margin-top: 550px;
	height: auto;
	margin-bottom: 300px;
}

.cover{
	position: absolute;
	top: 0px;
	z-index: -1;
}

.cover img {
	height: 600px;
	width: 100%;
}

.training-courses {
	background: white;
	height: auto;
	margin-top: 50px;
	box-shadow: 4px 8px 10px 8px rgba(0, 0, 0, 0.4);
	padding: 10px; 
	border-radius: 5px;
}


.training-courses .item{
	border-bottom: 1px solid orange; 
}